<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--DI for literals-->
<!--<bean id="amazon" class="com.tnsif.di.Amazon">
	<constructor-arg name="userName" value="Harshal"/>
	<constructor-arg name="id" value="1"/>
</bean>

<bean id="amazon1" class="com.tnsif.di.Amazon">
	<constructor-arg name="userName" value="Dharmik"/>
	<constructor-arg name="id" value="2"/>
</bean>-->

<bean id="gpay" class="com.tnsif.dinew.Gpay"></bean>

<bean id="amazon" class="com.tnsif.dinew.Amazon">
	<property name="g" ref="gpay"/>
</bean>

<bean id="flipkart" class="com.tnsif.dinew.Flipkart">
	<property name="g" ref="gpay"/>
</bean>

</beans>